/*
    Inlämningsuppgift 2 "Röj", JavaScript 3, Kristoffer Bengtsson (FE23)
    Game stylesheet.
*/
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

#game h1 {
    margin: 0 0 0.5rem 0;
    font-size: 6rem;
    color: orange;
}

.game-board-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.3rem;

}

.game-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    font-size: 1.2rem;
    aspect-ratio: 1/1;
}

button.game-cell:not(:enabled) {
    border: 1px solid transparent;
    cursor: default;
    transition: none;
}

button.game-cell:hover:not(:enabled) {
    border: 1px solid transparent;
    cursor: default;
    transition: none;
}

#root .game-cell.mine {
    background-color: darkred;
    color: white;
}

.game-cell.visible.game-cell-mines-0 {
    background-color: rgba(130, 255, 99, 0.3);
}

.game-cell.visible.game-cell-mines-1 {
    background-color: rgba(8, 161, 0, 0.3);
}

.game-cell.visible.game-cell-mines-2 {
    background-color: rgba(7, 106, 2, 0.3);
}

.game-cell.visible.game-cell-mines-3 {
    background-color: rgba(0, 149, 255, 0.3);
}

.game-cell.visible.game-cell-mines-4 {
    background-color: rgba(255, 238, 0, 0.476);
}

.game-cell.visible.game-cell-mines-5 {
    background-color: rgba(255, 42, 0, 0.3);
}

.game-cell.visible.game-cell-mines-6 {
    background-color: rgba(0, 183, 255, 0.3);
}

.game-cell.visible.game-cell-mines-7 {
    background-color: rgba(41, 0, 177, 0.3);
}

.game-cell.visible.game-cell-mines-8 {
    background-color: rgba(186, 0, 155, 0.3);
}

.status {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
}

.victory {
    color: green;
}

.defeat {
    color: red;
}

.score {
    font-size: 1rem;
}